@use "/styles/util";

.post {
  margin: auto;
  margin-top: 0px;

  .postInfo {
    margin: auto;
    margin-bottom: 24px;
    text-align: center;
    padding: 16px;
    background-color: var(--card-color);
    border: solid 2.5px var(--card-border-color);
    border-radius: 2px;
    @include util.border-shadow(var(--card-border-color));

    h2 {
      font-variation-settings: 'slnt' -7.5;
      font-size: 24px;
      margin: 8px 0;
    }

    .date {
      font-size: 15px;
      opacity: 0.8;
      letter-spacing: 0.3ch;
      margin: 0;
    }

    .description {
      margin: 10px 0;
      font-size: 15px;
      opacity: 0.8;
    }

    .tagsContainer {
      .tag {
        display: inline-flex;
        align-items: center;
        margin: 4px 0;
        margin-right: 16px;

        .icon {
          border-radius: 50%;
          color: var(--background-color);
          margin-right: 10px;
        }

        .label {
          font-weight: 800;
          font-size: 14px;
          letter-spacing: 0.2ch;
        }
      }
    }
  }

  .content {
    margin: auto;
    max-width: var(--post-width);
  }

  a {
    font-weight: 700;
    color: var(--highlight-color);
    text-decoration: none;
  }

  .articleLink {
    position: relative;
    width: 100%;
    margin-bottom: 16px;
    
    .strike {
      position: relative;
      top: 13px;
      width: 100%;
      border-bottom: solid 2px var(--separator-color);
    }

    a {
      display: block;
      width: max-content;
      margin: auto;
      padding: 0 1ch;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      font-weight: 800;
      letter-spacing: 0.2ch;
      color: var(--highlight-color);
      background-color: var(--background-color);
    }
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 700px) {
  .postInfo {
    h2 {
      font-size: 32px !important;
    }
  }
}