@font-face {
  font-family: 'Recursive';
  src: url('../public/font/Recursive_VF_1.077.woff2') format('woff2 supports variations'),
       url('../public/font/Recursive_VF_1.077.woff2') format('woff2-variations');
  font-weight: 300 800;
}

:root {
  --background-color: rgb(243, 243, 243);
  --text-color: rgb(54, 53, 53);
  --logo-color: rgb(0, 175, 137);
  --outline-color: inherit;
}

body {
  box-sizing: border-box;
  font-family: 'Recursive', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  font-family: inherit;
}

#app {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}