@font-face {
  font-family: 'Recursive';
  src: url('../public/font/Recursive_VF_1.077.woff2') format('woff2 supports variations'),
       url('../public/font/Recursive_VF_1.077.woff2') format('woff2-variations');
  font-weight: 300 800;
}

:root {
  --background-color: rgb(248, 248, 248);
  --background-color-alt: hsl(157, 20%, 94%);
  --text-color: rgb(80, 80, 80);
  --highlight-color: rgb(0, 175, 137);
  --separator-color: rgb(225, 225, 225);
  --scrollbar-track-color: var(--separator-color);
  --scrollbar-thumb-color: rgb(177, 177, 177);
  --outline-color: inherit;

  --icon-red: rgb(230, 115, 88);
  --icon-green: rgb(108, 197, 123);
  --icon-blue: rgb(131, 157, 228);
  --icon-pink: rgb(224, 109, 189);

  --category-animals: var(--icon-green);
  --category-catastrophe: var(--icon-red);
  --category-history: var(--icon-green);
  --category-internet: var(--icon-pink);
  --category-language: var(--icon-blue);
  --category-mathematics: var(--icon-blue);
  --category-medicine: var(--icon-red);
  --category-nature: var(--icon-green);
  --category-people: var(--icon-red);
  --category-places: var(--icon-red);
  --category-politics: var(--icon-blue);
  --category-psychology: var(--icon-pink);
  --category-science: var(--icon-green); 
  --category-society: var(--icon-blue);
  --category-space: var(--icon-pink);
  --category-technology: var(--icon-pink);

  --post-width: 700px;
}

::selection {
  background: rgba(0, 175, 137, 0.2);
}

body {
  box-sizing: border-box;
  font-family: 'Recursive', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3 {
  margin-block-end: 0;
  margin-block-start: 0;
}

p {
  margin: 0;
}

button {
  font-family: inherit;
  color: var(--text-color);
}

button, input, a {
  &:focus {
    outline-offset: 5px;
    outline-style: solid;
    outline-width: 3px;
    outline-color: var(--outline-color); 
  } 
}

blockquote {
  padding: 0 1em;
  border-left: .25em solid #cacaca;
  margin-left: 0;
  opacity: 0.8;
}

#app {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 16px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}